# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Server specific
server/uploads/*
!server/uploads/.gitkeep

# Editor and OS files
.vscode/
.DS_Store
*.swp
.env
.env.*
